
/* layout */
[class*="layout-column"] {
	float: left;
}
[class*="layout-column-1"] {
	border-right: 1px solid lightgray;
}
.layout-column-2-3 { width: 66.66666%; }
.layout-column-1-3 { width: 33.33333%; }
.layout-column-1-2 { width: 50%; }



/*  section common  */

.main-wrap img, .brand-img {
	width: 100%;
	background-size: cover;
	background-position: center;
	vertical-align: top;
	transition: transform 0.4s;
}

.main-wrap a {
	color: black;
	display: block;
	padding: 50px 30px 20px;
}

.news-box h2, .stock-box {
	margin-right: 60px;
	margin-left: 30px;
}

.main-wrap p {
	margin-top: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5;
	color: gray;
}

.taxi-box:hover img,
.with-box:hover img,
.brunch-box:hover img,
.kakaostory-box:hover .kakaostory-banner-bg-img { transform: scale(1.1); }

.main-wrap h2 {
	margin-top: 60px;
	height: 28px;
	text-indent: -9999px;
	background-image: url('../img/txt_corp.png');
	background-repeat: no-repeat;
}
.main-wrap h3 {
	margin-top: 20px;
	font-size: 24px;
	font-weight: bold;
}
.img-wrap {
	/*margin-top: 30px;*/
	overflow: hidden;
}

.service-box:hover,
.taxi-box:hover,
.brunch-box:hover,
.with-box:hover,
.career-box:hover { background-color: #F2F2F2; }

.news-box h2 {background-position: 0 -140px;}
.stock-box h2 {background-position: 0 -170px;}
.service-box h2 {background-position: -380px -98px;}
.taxi-box h2,
.brunch-box h2, 
.with-box h2 {background-position: 0 -260px;}
.people-box h2 {background-position: 0 -320px;}
.career-box h2 {background-position: 0 -290px;}
.notice-box h2 {background-position: 0 -200px;}
.kakaostory-box h2 {background-image: none;}



/* main */

.brand-img {
	padding-bottom: 50%;
	background-image: url("../img/temp_mov.jpeg");
	border-right: 1px solid lightgray;
}


.news-box img,
.taxi-box img,
.brunch-box img,
.career-box img,
.with-box img {position: relative; top: 0;}

/* news-box */
.news-box article {
	margin-top: 30px;
}
.news-box a {
	padding: 0 30px;
}
.news-box h3 {
	font-size: 19px;
	font-weight: bold;
}
.news-box p {
	height: 57px;
}
/*   왜 nth-child가 3번째 일까....? */
.news-box p:nth-child(3) {
	margin-top: 10px;
	height: 15px;
	line-height: 15px;
	font-size: 11px;
}



/* stock-box */
.stock-box {
	margin-bottom: 40px;
}
.current-stock {
	font-size: 50px;
	color: #eee;
}
p.change-gap {
	font-size: 30px;
	color: #3393EC;
	font-weight: bold;
	float: left;
}
.stock-box .change-date {
	float: right;
	margin-top: 35px;
}

/* service-box */

/* taxi-box */

/* brunch-box */

/* with-box */

/* people-box */
.people-box {
	position: relative;
	margin: 30px;
}
.people-box h2 {
	position: absolute;
	top: 15px;
	left: 10px;
	margin-top: 0px;
	width: 100%;
	z-index: 100;
}

.carousel-content {
	width: 100%;
	overflow: hidden;
	height: 440px;
}

.carousel-content-desc p {
	margin: 0;
	color: black;
	background-color: #E5E5E5;
	text-align: center;
}

.carousel-content-desc p:first-child {
	padding: 50px 60px 0;
}
.carousel-content-desc p:nth-child(2) {
	padding: 30px 0 30px;
	color: gray;
}
.people-box [class*="btn"] {
	position: absolute;
	top: 100px;
	width: 19px;
	height: 34px;
	cursor: pointer;
	border:none;
	background: url('../img/ico_corp.png') no-repeat;
}
.people-box .btn-prev {
	left: 7px;
	background-position: 0 -1650px;
}
.people-box .btn-next {
	right: 7px;
	background-position: 0 -1600px;
}

/* career-box */

/* kakaostory-box */
.main-wrap .kakaostory-box {
	position: relative;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
.kakaostory-box .img-wrap {
	margin-top: 0;
}
.kakaostory-text-img { 
	position: absolute;
	top: 10px;
	left: 0px;
	height: 100%;
}


/* notice-box */

.notice-box {
	margin-left: 30px;
	margin-right: 30px;
}
.notice-content {
	margin: 20px 0px 15px 0px;
	list-style: none;

}
.notice-content li {
	padding: 5px 0;
}
.notice-content li button{
	border: none;
	background: transparent;
	vertical-align: top;
	cursor: pointer;
}
.notice-content li span {
	float: right;
	margin-top: 1px;
	font-size: 13px;
}


.layer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.5);
}
.layer.notice.on {
	display: block;
}
.layer .layer-content {
	position: absolute;
	top: 63%;
	left: 50%;
	width: 500px;
	height: 400px;
	padding: 40px;
	transform: translateX(-50%);
	background-color: white;
}

.layer .layer-content h2 {
	padding-bottom: 15px;
	border-bottom: 3px solid black;
	letter-spacing: -2px;
} 

.layer .layer-content h3 {
	padding-top: 40px;
	letter-spacing: -2px;
}

.layer .layer-content .desc {
	padding-top : 40px;
	letter-spacing: -1px;
	line-height: 25px;
	font-size: 13px;
	color: #666;
}
.layer .btn-close {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 26px;
	height: 26px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-indent: -9999px;
	background: url('../img/ico_corp.png') no-repeat;
	background-position: 0 -1336px;
}