/* media query*/
@media (max-width: 1250px){
	.side-menu {left: -319px;}
	.tablet.open-gnb-wrap {
		display: block;
		position: fixed;
		width: 70px;
		height: 100vh;
		border-right: 1px solid #E5E5E5;
	}
	.tablet.close-menu-btn{
		display: block;
	}
	.main {
		left: 70px;
	}
	.side-menu-on {
		left: 0px;
		transition: 1s;
	}

}
@media (max-width: 900px){
	.side-menu {
	
	}
}